.header{
    position: absolute;
    width: 15rem;
    height: 15rem;
    top: 0;
    z-index: 1;

    @include response(tab-port){
        margin: auto; 
        width: 100%;
    }

    &__logo{
        @include response(tab-port){
        }
        &--img{
            margin: 1.5em;
            width: 10rem;
        }
    }
}