.hero{
    position: relative;
    width: 100%;
    height: 70vh;

    @include response(tab-port){
        height: 35vh;
    }

    &__image{
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        min-width: 300px;
        position: absolute;
        z-index: -1;
        opacity: .7;
    }

    & h4{
        position: absolute;
        color: white;
        opacity: 1;
        bottom: 2rem;
        right: 1rem;
        
        @include response(tab-port){
            margin: auto;
            left: 0;
            right: 0;
            bottom: 1.25rem;
        }
    }
}