.main{
    margin: 5rem 0;
    @include response(tab-port){
        margin: 3rem 0;
    }

    &__header{

        &__title{
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            @include response(tab-port){
                font-size: 1rem;
                white-space: nowrap;
            }
            & img{
                height: 5rem;
            }
        }
    }
    
    &__description-container{
        margin: 5rem 0;
        display: flex;
        justify-content: space-evenly;
        @include response(tab-port){
            margin: 0;
            flex-direction: column-reverse;
        }
        &__description{
            margin: 3rem;
            & p {
                text-align: left;
            }
        }
        
    }

    &__benefits{
        width: 100%;
        padding: 4rem 3rem;
        max-width: 950px;
        margin: 3rem auto;

        &--list{
            text-align: left;
            list-style-type: circle;
            list-style-position: inside;

            & li{
                margin: 1rem 0;
            }
        }
    }
}

#main-hiking{
    width: 50%;
    @include response(tab-port){
        width: 100%;
    }
}