.main{
    margin: 6rem 0 5rem;
    @include response(tab-port){
        margin: 3rem 0 0;
    }

    &__header{
        @include response(tab-port){
            margin: 2rem 0;
        }

        &__title{
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            @include response(tab-port){
                font-size: 1rem;
            }
            & img{
                height: 5rem;
            }
        }
    }
    
    &__description-container{
        margin: 5rem 3rem 0;
        display: flex;
        justify-content: space-evenly;
        
        @include response(tab-port){
            margin: 0;
            flex-direction: column-reverse;
        }

        & h3 {
            margin: 0.5rem 0 1rem;
        }

        &__description{
            max-width: 550px;
            margin: 3rem;
            & p {
                padding-left: 25px;
                text-align: left;
            }
        }
        
    }

    &__benefits-container{
        background: $orange;
    }

    &__benefits{
        width: 100%;
        padding: 7rem 3rem;
        max-width: 950px;
        margin: 3rem auto;
        font-size: 1.2rem;

        @include response(tab-port){
            margin: 0 auto;
        }

        &--list{
            text-align: left;
            list-style-type: circle;
            list-style-position: inside;

            & li{
                margin: 1rem 0;
                color: white;
            }
            & li span  {
                color: black;
              }

        }
    }
}

#main-hiking{
    border-radius: 100%;
    width: 45vw;
    height: 45vw;
    object-fit: cover;
    max-height: 600px;
    max-width: 600px;
    
    @include response(tab-port){
        border-radius: 0;
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}

#phone{
    font-size: 1.15rem;
    margin: 1px 10px 0px 0px;
}