@import "variables";
@import "mixins";
@import "abstract";
@import "base";
@import "hero";
@import "header";
@import "main";
@import "footer";

.App {
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
}